<?xml version="1.0" ?>
<!--
/**
 * Copyright 2021 (c) mediarox UG (haftungsbeschraenkt) (http://www.mediarox.de)
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Compatibility_AmastyCheckoutNetresearchShippingUi" setup_version="0.0.1">
        <sequence>
            <module name="Amasty_Checkout"/>
            <module name="Netresearch_ShippingUi"/>
        </sequence>
    </module>
</config>